.images__box {
  width: 100%;

  img {
    cursor: pointer;
    aspect-ratio: 2.8;
    object-fit: cover;
  }
}

.carousel {
  .is-dots {
    height: 0.8rem !important;
    width: 0.8rem !important;
    opacity: 0.4;
  }

  .carousel-arrow {
    .icon.has-icons-left {
      left: 0rem;
      height: 50px;
      border-radius: 0 5px 5px 0;
      opacity: 0.4;

      &:hover {
        border: none;
      }
    }

    .icon.has-icons-right {
      right: 0;
      height: 50px;
      border-radius: 5px 0 0 5px;
      opacity: 0.4;

      &:hover {
        border: none;
      }
    }
  }

  .desc {
    position: absolute;
    top: 30%;
    left: 15%;

    .subtitle {
      font-size: 1.4vw;
      text-transform: uppercase;
      letter-spacing: 0.4vw;
      color: white;
    }

    .title {
      font-size: 3.76vw;
      color: wheat;
    }

    .content {
      max-width: 20vw;
    }

    .seemore {
      color: white;
      text-decoration: underline;
      font-style: italic;
    }
  }
}

@media screen and (max-device-width: 1056px) {
  .carousel {
    .desc {
      .content {
        color: blue;
        display: none;
      }
    }
  }

}
