.footer {
  background: #131313;
  padding-bottom: 0;

  &__top {

    border-bottom: 1px solid #505050;
    padding: 53px 260px 62px 260px;

    .logo {
      background: url("https://chocoo.newzen.site/images/chocoo-white-logo.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 41px;
      margin-bottom: 55px;
    }

    h1 {
      color: white;
      text-transform: uppercase;
      margin-bottom: 16px;
      font-size: 16px;
    }

    .input__group {
      display: flex;

      input {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;

        &:active,
        &:hover,
        &:visited,
        &:focus {
          border: none;
        }
      }


      .button {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }

    .official {
      padding-right: 75px;
    }

    .about__item {
      display: block;
      color: #fff;
      font-size: 13px;
    }

    .social {
      a {
        color: #00d1b2;
      }
    }
  }

  &__bottom {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 25px;

    span {
      color: white;
    }
  }

}
