.footer {
  background: #131313;
  padding-bottom: 0;
  margin-top: 40px;

  &__top {

    border-bottom: 1px solid #505050;
    padding-bottom: 62px;

    .logo {
      background: url("https://chocoo.newzen.site/images/chocoo-white-logo.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 41px;
      margin-bottom: 55px;

    }

    h1 {
      color: white;
      text-transform: uppercase;
      margin-bottom: 16px;
      font-size: 16px;
    }

    .input__group {
      display: flex;
      width: 80%;

      input {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;

        &:active,
        &:hover,
        &:visited,
        &:focus {
          border: none;
        }
      }


      .button {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }

    .about__item {
      display: block;
      color: #fff;
      font-size: 13px;
    }

    .social {
      a {
        color: #00d1b2;
      }

      .icon {
        .mdi.mdi-48px {
          &::before {
            font-size: 10px;
          }
        }
      }
    }
  }

  &__bottom {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 25px;

    span {
      color: white;
    }
  }

}

@media screen and (max-device-width: 768px) {
  .logo {
    background-position: center !important;
  }

  .input__group {
    margin: auto;
  }

  .column {
    text-align: center;
  }

  .icon {
    .mdi.mdi-24px {
      &::before {
        font-size: 45px;
      }
    }

    &__fb {
      margin-right: 10px;
    }

    &__insta {
      margin-left: 10px;
    }
  }
}
